
*, *::before, *::after{
   box-sizing: border-box;
}
/*---------------------------------*/

[disabled]{
   opacity: .4;
}

/* Mobile First:
   Extra small devices
   (phones, 600px and down)
---------------------------------*/
.container {
  position: relative;
  max-width: 70rem;
  margin: 5rem auto;
  padding: 3rem 5rem 0;
  border-radius: 1px;
  /*background: #fff;*/
  background: whitesmoke;
  width: 100%;
  height: 100%;
}
.card h1, h2{
   text-align: center;
   font-weight: bold;
}
.fluid-img{
   max-width: 100%;
   height: auto;
}

.card{
   background-color: White;
   padding: 1rem;
   border-radius: 2px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16),
               0 3px 6px rgba(0,0,0,0.23);
}

.product-viewer{
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
}
   
   .product-viewer
   .thumbnail-gallery{
      display: none;
      margin-right: 1rem;
   }
   
      .product-viewer
      .thumbnail-gallery
      .thumbnail-container{
         border-radius: 2px;
         border: 1px solid lightgray;
         margin-bottom: 4px;
         padding: .25rem;
         height: 70px;
         width: 70px;
         display: flex;
         align-items: center;
         cursor: pointer;
      }
      .product-viewer
      .thumbnail-gallery
      .thumbnail-container:last-child{
         margin-bottom: 0;
      }
         .product-viewer
         .thumbnail-gallery
         .thumbnail-container:hover{
            border-width: 2px;   
         }
         .product-viewer
         .thumbnail-gallery
         .thumbnail-container.is-active{
            border-width: 2px;
         }

   .product-viewer
   .product-img-container{
      height: 280px;
      width: 100%;
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

.paginator{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem;
}
   
   .paginator
   .button{
      font-size: 24px;
      padding: .25em .45em;
      border-width: 1px;
      border-color: transparent;
      border-style: solid;
      border-radius: 2px;
      cursor: pointer;
      color: gray;
   }
      .paginator
      .button:hover{
         border-color: darkgray;
      }

.badge{
   background-color: #333;
   color: white;
   padding: .5em 1em;
   border-radius: 50px;
   letter-spacing: nowrap;
   font-size: 12px;
}

/* Utilities
---------------------------------*/
.mxy\(1rem\){ margin: 1rem 1rem }

/* Breakpoints
---------------------------------*/

/* Small devices
   (portrait tablets and large 
   phones, 600px and up)
---------------------------------*/
@media only screen and (min-width: 600px) {
   body{
      --bg-color: #ff9966;
      --bg-color-gradient: #ff5e62; 
   }
   
   .product-viewer
   .product-img-container{
      height: 450px;
      width: 450px;

   }
   
   .product-viewer
   .thumbnail-gallery{
      display: inline-block;
   }
      
      .product-viewer
      .thumbnail-gallery
      .thumbnail-container.is-active{
         border-color: var(--bg-color);
      }
   
   .paginator{
      display: none;
   }

.description{
   float: left;
   width: 40%;
   height:100%;
}
.contact{
   float: right;
   width: 40%;
   height:100%;

}
.other-content{
   background: yellow;
}
/* Medium devices
   (landscape tablets, 768px
   and up)
---------------------------------*/
@media only screen and (min-width: 768px) {
   body{
      --bg-color: #283c86;
      --bg-color-gradient: #e100ff;
   }
   
   .product-viewer
   .product-img-container{
      width: 550px;
   }
} 

/* Large devices
   (laptops/desktops, 992px and 
   up)
---------------------------------*/
@media only screen and (min-width: 992px) {
   body{
      --bg-color: #34e89e;
      --bg-color-gradient: #0f3443;
   }
   
   .product-viewer
   .product-img-container{
      width: 650px;
   }
} 

/* Extra Large devices
   (large laptops and desktops, 
   1200px and up)
---------------------------------*/
@media only screen and (min-width: 1200px) {
   body{
      --bg-color: #F2994A;
      --bg-color-gradient: #F2C94C;
   }
   
   .product-viewer
   .product-img-container{
      width: 750px;
   }
}
}